# kafka configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
TOPIC_NAME=binance-trades
BINANCE_SYMBOL=btcusdt
CONSUMER_GROUP=binance-consumer-group

# binance api credentials (optional)
BINANCE_API_KEY=your_binance_api_key_here
BINANCE_API_SECRET=your_binance_api_secret_here
